.main {
    background-color: rgb(231,40,93);
    border: 20px solid black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.div {
    background-color: white;
    border: 2px solid white;
    padding: 20px;
}

.add-square {
    font-size: 15px;
    color: white;
    background-color: royalblue;
    height: 25px;
    width: 125px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.random-color {
    font-size: 15px;
    color: white;
    background-color: rebeccapurple;
    height: 25px;
    width: 125px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.grid-button {
    font-size: 15px;
    color: white;
    background-color: orange;
    height: 25px;
    width: 125px;
    border: none;;
    margin-bottom: 20px;
    border-radius: 5px;
}

h1 {
    text-decoration: underline;
}